{% extends 'main.html'%}

{% block content%}


<style>
    .room-container{
        display:grid;
       grid-template-columns: 3fr 1fr ;   
    }
    
    
</style>
 
<div class='room-container'>
    <div>
        <h1>{{room.title}}<h1>
        <h3><p>{{room.description}}</p></h3>

        <div class="comments-wrapper">
            <h2>conversation<h2>
            <hr>
            {%for message in room_messages %}
          
            <div>
                {% if request.user == message.user %}
                <a href="{% url 'delete-message' message.id %}">Delete<a>
                {%endif%}
                <span>@{{message.user}}  {{message.created| timesince}} ago</sapn>
                    <p>{{message.body}}</p>
                    <hr>
            {%endfor%}
            </div>
            {% if request.user.is_authenticated %}
                <div>
                    <form method="POST" action="">
                        {%csrf_token%}
                        <input type="text" name="body" placeholder="write your message here..">
                    </form>
                </div>
            {%endif%}
        </div>
            
    </div>

    <div>
        <h3>Participants<h3>
        <hr>
        {%for user in participants%}
            <p>@{{user.username}}</p>
        {%endfor%}
    
        <h3>do you want too be join "{{room.title}}" room?</h3>
        <form method="POST" action="">
        {%csrf_token%}
        <input type="button" name="yes" value="YES" placeholder="YES">
        
        <input type="button" name="yes" value="NO" placeholder="NO">
        </form>
    </div>
    
</div>


    
{%endblock content%}   
   
   



 

