@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.max-w-md{
  text-align: center;
  justify-content: center;
  background: skyblue;
  width: 100%;
  height: 110vh;
  position: fixed;
  display: block;
}

input{
  width: 70%;
  height: 40px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  padding: 10px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  outline: none;
}

::placeholder{
    color: #fff;
    font-style: italic;
  }

button{
  width: 80px;
  height: 40px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  outline: none;
  background: #fff;
  color: #000;
  font-weight: 700;
}

li{
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 8px;
  gap: 10px;
  gap: 10px;
}

li input{
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
}

li button{
  width: 50px;
  height: 25px;
  border-radius: 4px;
  font-size: 12px;
  margin-left: 10px;
}